  <!DOCTYPE HTML>
   <html>
    <head>
    
<body>
<div> <h2 class="text-center text-primary">Contactez-nous</h2></div> 
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://data.whicdn.com/images/239045795/large.jpg" class="d-block w-100" alt="https://data.whicdn.com/images/239045795/large.jpg">
        <div class="carousel-caption d-none d-md-block">
          <h5>CONTACT</h5>
          <p>Tu peux nous contacter en envoyant des ondes de télépathiques! t'inquiètes, je les capterai</p><p>je rigoles! voici le numéro de Mathieu : 0680395960</p>
        </div>
      </div>
    </div>
  </div>
   </body>

  </html>
