  <!DOCTYPE HTML>
   <html>
    <head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

     <title>Team Bonzouti</title>
  <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/team">Team</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
    </head>

   <body>
   <div> <h2 class="text-center text-primary" >Voici le Team Bonzouti</h2></div> 
     <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" >
   <div class="carousel-inner">
     <div class="carousel-item active">
       <img src="http://s1.lprs1.fr/images/2016/10/03/6170135_1-0-650233261_1000x625.jpg" alt="http://s1.lprs1.fr/images/2016/10/03/6170135_1-0-650233261_1000x625.jpg">
  <div class="carousel-caption d-none d-md-block">
    <h5>Mathieu</h5>
    <p>Dev @mathieupierre</p>
  </div>
     </div>
</div>
</div>


 <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" >
<div class="carousel-inner">
 <div class="carousel-item active">
   <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/86/Fraises_2_Luc_Viatour.jpg/1200px-Fraises_2_Luc_Viatour.jpg" alt="https://upload.wikimedia.org/wikipedia/commons/thumb/8/86/Fraises_2_Luc_Viatour.jpg/1200px-Fraises_2_Luc_Viatour.jpg">
  <div class="carousel-caption d-none d-md-block">
  <h5 style="color:black;">Aleks</h5>
  <p style="color:black;">le co-dev de mathieu @aleks</p>
 </div>
</div>
</div>
</div>
   </body>

  </html>
