  <!DOCTYPE HTML>
   <html>
   
    
   <body>
   <div> <h2 class="text-center text-primary" >Voici le Team Bonzouti</h2></div> 
     <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" >
   <div class="carousel-inner">
     <div class="carousel-item active">
       <img src="http://s1.lprs1.fr/images/2016/10/03/6170135_1-0-650233261_1000x625.jpg" alt="http://s1.lprs1.fr/images/2016/10/03/6170135_1-0-650233261_1000x625.jpg">
  <div class="carousel-caption d-none d-md-block">
    <h5>Mathieu</h5>
    <p>Dev @mathieupierre</p>
  </div>
     </div>
</div>
</div>


 <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" >
<div class="carousel-inner">
 <div class="carousel-item active">
   <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/86/Fraises_2_Luc_Viatour.jpg/1200px-Fraises_2_Luc_Viatour.jpg" alt="https://upload.wikimedia.org/wikipedia/commons/thumb/8/86/Fraises_2_Luc_Viatour.jpg/1200px-Fraises_2_Luc_Viatour.jpg">
  <div class="carousel-caption d-none d-md-block">
  <h5 style="color:black;">Aleks</h5>
  <p style="color:black;">le co-dev de mathieu @aleks</p>
 </div>
</div>
</div>
</div>
   </body>

  </html>
