<html>
  <head>
       <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Contact</title>
  <body> 


	<center>
		<form action="/welcome" method="get">
		 <h3 class="text-primary">Enter Your Name</h3>
		<input type="text"  placeholder="Your name" name="first_name" required/>
     <input type="submit" value="Confirm" />
		</form>
	</center>

</body>
</html>