body {
  width:100%;
  font-family: Arial, Helvetica, sans-serif;
}

.wide, .card{
  background-color: blueviolet;
  display:inline-flex;
  flex-wrap: wrap;
  border: 3px;
  padding : 10px;
  margin: 10px;
  width: 20%;
}

nav {
  display: flex;
  flex-direction: row;
  background-color: cadetblue;
  width:100%;
}

li {
  display: inline;
}

 